.admin-navbar-container {
  position: sticky;
  top: 0;
  background-color: black;
  backdrop-filter: blur(5px);
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s linear;
  align-items: center;
  position: relative;
}
.admin-navbar-container-scrolled {
  background-color: rgba(0, 0, 0, 0.388);
  transition: all 0.2s linear;
}
.left-admin-navbar-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.admin-navbar-heading {
  color: var(--primarycolor);
  font-family: var(--font);
  font-size: 2.3rem;
  font-weight: 500;
}
.menu-container {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-menu-widgets {
  position: absolute;
  inset: 0;
  padding: 1rem;
}
.admin-menu-heading {
  color: white;

  font-family: var(--font);
  font-weight: 500;
}
.linktag-admin {
  text-decoration: none;
  color: white;
}
.link-admin {
  font-size: 2rem;
  list-style: none;
  font-family: var(--font);
}
@media screen and (min-width: 768px) {
  .admin-menu-icon {
    display: none;
  }
  .menu-container {
    position: static;
    width: fit-content;
    height: fit-content;
    background: transparent;
  }
  .admin-menu-widgets {
    display: none;
  }
  .admin-menu {
    display: flex;
    gap: 2rem;
  }
}
