.admin-home-container {
  background-color: rgb(235, 235, 235);
  height: 100vh;
  padding: 1rem;
  float: left;
  grid-column: 2;
  width: 100%;
}
.welcome-admin-user {
  font-family: var(--font);
  color: #191c24;
  font-size: 2rem;
}
