.admin-home-container {
  background-color: rgb(235, 235, 235);
  height: 100vh;
  padding: 25px 20px;
  float: left;
  width: 100%;
}
.welcome-admin-user {
  font-family: var(--font);
  color: #191c24;
  font-size: 2rem;
}
.admin-home-content-container {
  margin-top: 50px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}
.admin-home-logo {
  width: 100%;
  max-width: 250px;
  background-color: #191c24;
  border-radius: 100%;
  padding: 15px 12px;
}
.admin-home-heading {
  font-family: var(--font);
  font-size: 3.2rem;
  color: var(--primarycolor);
  font-weight: 500;
}
.current-user {
  font-family: var(--font);
  font-weight: 600;
  font-size: 1.8rem;
}
.current-user-heading {
  font-family: var(--font);
  font-weight: 300;
}
.log-out {
  padding: 1rem 1.5rem;
  border-radius: 15px;
  font-size: 1.5rem;
  border: 0;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .admin-main-container {
    display: grid;
    grid-template-columns: 250px auto;
  }
  .admin-home-container {
    grid-column: 2;
  }
}
