.change-password-container {
  padding: 15px 25px;
  height: 100vh;
  overflow: hidden;
}
.change-password-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.change-password-heading {
  font-family: var(--font);
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--primarycolor);
}
.change-password-content-container {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
}
.change-password-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .change-password-container {
    grid-column: 2;
    min-height: 100vh;
  }
}
