.login-container {
  background-color: #191c24;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  flex-direction: column;
  user-select: none;
}
.company-profile-login {
  display: flex;
  align-items: center;
}
.login-page-logo {
  width: 80px;
}
.company-profile-name,
.forget-password-heading {
  margin-top: 12px;
  color: white;
  font-size: 2rem;
  font-family: var(--font);
  font-weight: 500;
}
.login-form-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  max-width: 350px;
}
.login-form-heading {
  color: var(--primarycolor);
  text-align: center;
  font-family: var(--font);
  font-size: 3rem;
  font-weight: 500;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.label {
  margin-top: 16px;

  font-size: 1.5rem;
  font-family: var(--font);
}
input {
  padding: 10px;
  border-radius: 2px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--primarycolor);
  font-size: 1.3rem;
  font-family: var(--font);
}
input::placeholder {
  font-family: var(--font);
  font-size: 1.3rem;
}
.submitbtn,
.forget-password-btn {
  color: var(--primarycolor);
  background-color: transparent;
  border: 0;
  font-size: 1.8rem;
  font-family: var(--font);
  border: 2px solid var(--primarycolor);
  margin-top: 25px;
  border-radius: 10px;
}
.go-back-text,
.go-back-text-login {
  margin: 1rem;
  color: dodgerblue;
  font-size: 1.3rem;
  cursor: pointer;
}
.go-back-text::before,
.go-back-text-login::before {
  content: "<-";
}
.forget-password,
.go-back-text-login {
  font-size: 1.2rem;
  color: red;
  font-family: var(--font);
  text-align: end;
  margin-top: 8px;
  cursor: pointer;
}
.forget-password-form,
.forget {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.forget-password-form {
  padding: 1rem;
  border-radius: 15px;
}
.forget-password-heading {
  color: var(--primarycolor);
}
