.bedroom-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.bedroom-hero-container {
  width: 100%;
  min-height: 100vh;
  background: url("../Assets//bedroom/hero-section.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  user-select: none;
}
.bedroom-hero-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bedroom-hero-heading,
.bedroom-hero-para {
  text-align: center;
  font-family: var(--fontsecond);
  color: var(--mainbgcolor);
}
.bedroom-hero-heading {
  padding: 1rem;
  background-color: var(--heroheadingbg);
  color: var(--secondarycolor);
  font-size: 2.8rem;
  width: fit-content;
  border-radius: 10px;
}
.bedroom-hero-para {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.scroll-down-container {
  position: absolute;
  bottom: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(253, 244, 233, 0.258);
  padding: 0.55rem;
  border-radius: 50px;
  gap: 5px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.scroll-down-content {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font);
}
.scroll-down-container:hover {
  transform: translateY(-10px);
  filter: drop-shadow(5px 25px 20px rgba(0, 0, 0, 0.437));
  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.368);
}
.bedroom-project-showcase-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.project-content-heading {
  font-size: var(--mobileheading);
  font-family: var(--font);
  color: var(--headingcolor);
  position: relative;
  text-align: center;
  font-size: var(--mobileheading);
  font-weight: 500;
}
/* .project-content-heading::after {
  content: "Projects";
  color: var(--overlayheading);
  position: absolute;
  bottom: -10px;
  font-size: var(--mobileoverlayheading);
  z-index: 9999;
} */
.bedroom-project-lightbox {
  margin-top: 50px;
}
.bedroom-project-img {
  max-width: 95vw;
  filter: grayscale(20%);
  transition: all 0.2s linear;
  aspect-ratio: 2/2;
}
.bedroom-project-img:hover {
  border-radius: 5px 50px;
  filter: grayscale(0);
  box-shadow: var(--lighthouseshadow);
}
.bedroom-lightbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bedroom-project-content-container {
    max-width: var(--tabwidth);
  }
  .bedroom-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .bedroom-project-content-container {
    max-width: var(--smalllaptop);
  }
  .bedroom-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .bedroom-project-content-container {
    max-width: var(--laptop);
  }
  .bedroom-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1480px) {
  .bedroom-project-content-container {
    max-width: var(--large);
  }
  .bedroom-project-img {
    max-width: 350px;
  }
}
