.how-we-design-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-we-design-header {
  width: 100%;
}
.how-we-design-heading {
  font-family: var(--font);
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: var(--mobileoverlayheading);
  color: var(--overlayheading);
}
.how-we-design-heading::after {
  content: "How We Design";
  position: absolute;
  inset: 0;
  top: -38px;
  z-index: -1;
  font-size: var(--mobileheading);
  color: var(--headingcolor);
}
.how-we-design-content-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.how-we-design-card-container {
  max-width: 100%;
  padding: 1rem;
  overflow: hidden;
  margin-top: 2.8rem;
  border-radius: 10px;
  background-color: rgb(255, 253, 251);
  box-shadow: 0 0 5px 5px rgba(3, 81, 81, 0.143);
  transition: all 0.2s linear;
}
.how-we-design-card-container:hover {
  box-shadow: 0 0 15px 2px rgba(1, 81, 81, 0.424);
}
.how-we-design-card-image {
  width: 100%;
  max-height: 210px;
  object-fit: cover;
}
.how-we-design-card-heading {
  font-size: 1.8rem;
  font-family: var(--font);
  color: var(--primarycolor);
}
.how-we-design-card-para {
  font-size: 1.5rem;
  margin: 0;
  font-family: var(--font);
  color: rgb(68, 68, 68);
}

@media screen and (min-width: 456px) {
  .how-we-design-card-container {
    margin-top: 0rem;
  }
  .how-we-design-heading {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .how-we-design-content-container {
    max-width: var(--tabwidth);
  }
  .how-we-design-card-container {
    max-width: 360px;
  }
  .how-we-design-card-image {
    max-width: 360px;
  }
  .how-we-design-card-para {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .how-we-design-content-container {
    max-width: var(--smalllaptop);
  }
  .how-we-design-card-container {
    max-width: 360px;
  }
  .how-we-design-card-image {
    max-width: 360px;
  }
  .how-we-design-card-para {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .how-we-design-content-container {
    max-width: var(--laptop);
  }
  .how-we-design-card-container {
    max-width: 360px;
  }
  .how-we-design-card-image {
    max-width: 360px;
  }
  .how-we-design-card-para {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1480px) {
  .how-we-design-content-container {
    max-width: var(--large);
  }
  .how-we-design-card-container {
    max-width: 360px;
  }
  .how-we-design-card-image {
    max-width: 360px;
  }
  .how-we-design-card-para {
    font-size: 1.2rem;
  }
}
