.dropdown-container {
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem;
  transition: all 0.5s linear;
  width: inherit;
}
.linktag-dropdown {
  text-decoration: none;
  display: block;
  width: 100%;
}
.dropdown-link {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: var(--font);
  display: flex;
  line-height: 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.298);
  position: relative;
}
.dropdown-link:last-child {
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1280px) {
  .dropdown-container {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: absolute;
    margin-left: -0.2rem;
    top: 95%;
    min-width: 300px;
    max-width: fit-content;
    border: 2px solid rgb(42, 42, 5);
    padding-bottom: 1rem;
  }
  .dropdown-container::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -0.9rem;
    left: 0.99rem;
    border-left: 2px solid black;
    border-top: 2px solid black;
    transform: rotate(45deg);
  }
  .dropdown-link::before {
    content: "";
    width: 0%;
    position: absolute;
    top: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.633);
    right: 0;
    transition: all 0.5s linear;
  }
  .dropdown-link:hover::before {
    left: 0;
    width: 100%;
  }
  .dropdown-link {
    color: black;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}
