.home-container {
  min-height: 250vh;
  background-color: rgb(241, 247, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.home-hero-section {
  background: url("../assets/more_dark-hero-img.webp");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  background-size: cover;
  flex-direction: column;
}

.hero-section-main-heading {
  font-size: 3rem;
  background-color: rgba(248, 242, 233, 0.768);
  color: rgb(23, 23, 23);
  font-family: var(--font);
  width: fit-content;
  border-radius: 12px;
  padding: 0 1rem;
  text-align: center;
  user-select: none;
}
.hero-section-secondary-heading {
  text-align: center;
  color: white;
  font-family: var(--font);
  font-weight: 300;
  user-select: none;
}
.scroll-container {
  position: absolute;
  bottom: 8%;
  display: flex;
  background-color: rgba(253, 244, 233, 0.258);
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50px;
  transition: all 0.5s linear;
  cursor: pointer;
  user-select: none;
}
.scroll-text {
  font-size: 1rem;
  font-family: var(--font);
  margin: 0;
  color: white;
}
.scroll-container:hover {
  transform: translateY(-10px);
  filter: drop-shadow(5px 25px 20px rgba(0, 0, 0, 0.437));
}
.aboutus-section {
  border-radius: 20px;
  /* box-shadow: 0 2px 8px 0px rgba(0, 128, 128, 0.373); */
  scroll-margin: 5rem;
  display: flex;
  padding: 2.5rem 1.09rem;
  flex-direction: column;
}

.left-about-heading {
  font-size: 3rem;
  color: transparent;
  font-family: var(--fontsecond);
  font-weight: 800;
  -webkit-text-stroke: 3px var(--primarycolor);
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
}
.left-about-heading::after {
  content: " ";

  width: 220px;
  border: 2px solid black;
  height: 3px;
}
.left-about-para {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-family: var(--font);
  text-align: center;
}
.right-about-section {
  display: flex;
  justify-content: center;
}
.about-pic {
  border-radius: 25% 50% 50% 0;
  width: 98%;
  max-width: 500px;
  margin-top: 1.2rem;
  padding: 0.2rem;
}
.showcase-for-experiance {
  width: 100%;
  border-radius: 15px;
  background-color: var(--secondarycolor);
  padding: 3.2rem 0;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-shadow: rgb(29, 29, 29) 0px 2px 8px 0px;
}
.experiance-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.experiance-number,
.experiance-text {
  color: var(--mainbgcolor);
  font-family: var(--font);
  font-size: 2rem;
  margin: 0;
}
@media screen and (min-width: 500px) {
  .hero-section-main-heading {
    font-size: 3.3rem;
  }
  .aboutus-section {
    padding: 2.5rem 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    width: 100%;
  }
  .hero-section-main-heading {
    font-size: 3.8rem;
  }

  .aboutus-section {
    max-width: var(--tabwidth);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  .left-about-section {
    width: 60%;
  }
  .left-about-para {
    text-align: left;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .aboutus-section {
    max-width: var(--smalllaptop);
    gap: 1rem;
    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
  }
  .left-about-section {
    width: 50%;
  }
  .left-about-para {
    font-size: 1.3rem;
    text-align: left;
  }
  .right-about-section {
    height: 400px;
  }

  .about-pic {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1500px) {
  .home-container {
  }
  .aboutus-section {
    max-width: var(--laptop);
    justify-content: center;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    padding: 3rem;
  }
  .left-about-section {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  .left-about-para {
    text-align: left;
  }
  .right-about-section {
    height: 500px;
  }
  .right-about-section {
    max-width: 500px;

    height: 500px;
  }
  .about-pic {
    padding-top: 0.8rem;

    max-width: 500px;
    height: 400px;
  }
}
@media screen and (min-width: 1500px) {
  .home-container {
    gap: 5rem;
  }
  .aboutus-section {
    max-width: var(--large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    gap: 5rem;
  }
  .left-about-para {
    display: flex;
    font-size: 1.6rem;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .left-about-section {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .about-pic {
    padding-top: 0.8rem;

    max-width: 500px;
  }
}
