.home-container {
  background-color: rgb(253, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
}
.home-hero-section {
  background: url("../Assets/more_dark-hero-img.webp");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  background-size: cover;
  flex-direction: column;
}

.hero-section-main-heading {
  font-size: 3rem;
  background-color: rgba(248, 242, 233, 0.768);
  color: rgb(23, 23, 23);
  font-family: var(--font);
  width: fit-content;
  border-radius: 12px;
  padding: 0 1rem;
  text-align: center;
  user-select: none;
}
.hero-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-section-secondary-heading {
  text-align: center;
  color: white;
  font-family: var(--font);
  font-weight: 300;
  user-select: none;
}
.scroll-container {
  position: absolute;
  bottom: 80px;
  display: flex;
  background-color: rgba(253, 244, 233, 0.258);
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50px;
  transition: all 0.5s linear;
  cursor: pointer;
  user-select: none;
}
.scroll-text {
  font-size: 1rem;
  font-family: var(--font);
  margin: 0;
  color: white;
}
.scroll-container:hover {
  transform: translateY(-10px);
  filter: drop-shadow(5px 25px 20px rgba(0, 0, 0, 0.437));
  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.368);
}

.aboutus-section {
  border-radius: 20px;
  scroll-margin: 5rem;
  display: flex;
  padding: 2.5rem 1.09rem;
  flex-direction: column;
}

.left-about-heading {
  font-size: 3rem;
  font-family: var(--fontsecond);
  font-weight: 800;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--headingcolor);
  z-index: 1;
  font-weight: 500;
}
/* .left-about-heading::after {
  content: "ARCHITECT";
  color: var(--overlayheading);
  position: absolute;
  top: 23px;
  font-size: 3rem;
} */
.design-main-container {
  scroll-margin: 100px;
  display: flex;

  padding: 1rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.design-container {
  padding: 0.2rem 0.2rem;
  width: 99.96%;

  background-image: linear-gradient(315deg, #3bb2cd 0%, #618789 74%);

  transform: rotate(-1deg);
}
.design-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--mainbgcolor);
  gap: 2px;
}
.design-text-content {
  font-size: 1.02rem;
  font-family: var(--font);
}
/* .content-container {
  display: flex;

  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
} */
.left-about-para {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-family: var(--font);
  text-align: center;
}
.right-about-section {
  display: flex;
  justify-content: center;
}
.about-pic {
  border-radius: 52px;
  width: 98%;
  max-width: 500px;
  margin-top: 1.2rem;
  padding: 0.2rem;
}
.showcase-for-experiance {
  width: 100%;
  border-radius: 15px;
  background: url(../Assets//wavy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.2rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
}
.experiance-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 220px;
  justify-content: space-between;
}
.experiance-number,
.experiance-text {
  color: var(--mainbgcolor);
  font-family: var(--font);
  font-size: 2rem;
  margin: 0;
}
.experiance-text {
  font-size: 1.5rem;
}
.choose-us-container {
  margin-top: 3rem;
}
.choose-us-container,
.choose-us-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.choose-us-heading {
  font-size: var(--mobileheading);
  font-family: var(--fontsecond);
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
  font-weight: 500;
  color: var(--headingcolor);
}
/* .choose-us-heading::after {
  content: "Choose";
  position: absolute;
  text-transform: uppercase;
  color: var(--overlayheading);
  top: 28px;
  position: absolute;
  font-size: var(--mobileoverlayheading);
} */
.choose-us-main-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.choose-right-content-container {
  border-radius: 15px;
  background: url(../Assets/chooseback.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  max-width: 680px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.choose-right-heading {
  color: var(--primarycolor);
  font-family: var(--font);
  font-size: 2.2rem;
}
.choose-right-content {
  color: white;
  font-family: var(--fontsecond);
  margin: 0;
  font-size: 1.3rem;
  line-height: 2rem;
}
.choose-main-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.choose-main-right {
  scroll-margin: 100px 0 0 0;
}
.choose-us-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  gap: 1.2rem;
  padding: 2rem 1rem;
  border: 2px solid var(--primarycolor);
  transition: all 0.2s linear;
  width: 90%;
  box-shadow: rgba(94, 94, 100, 0.079) 0px 30px 60px -12px inset,
    rgba(95, 93, 93, 0.159) 0px 18px 36px -18px;
  cursor: pointer;
}
.choose-us-card-heading {
  font-size: 1.8rem;
  font-family: var(--font);
}
.choose-card-row {
  display: flex;
  flex-direction: column;
}

.choose-us-card:hover {
  transform: scale(1.03);
  background-color: var(--mainbgcolor);
}
.innovationnone {
  display: none;
}
.experiancenone {
  display: none;
}
.project-showcase-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-showcase-heading {
  font-size: var(--mobileheading);
  font-family: var(--font);
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--headingcolor);
  font-weight: 500;
}
/* .project-showcase-heading::after {
  color: var(--overlayheading);
  content: "SHOWCASE";
  position: absolute;
  top: 38px;
  font-size: var(--mobileoverlayheading);
  z-index: 1;
} */
.activetab {
  background-color: var(--primarycolor);
  color: white;
}
.project-showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-showcase-content-header-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0rem;
  flex-wrap: wrap;
}
.project-showcase-tab-heading {
  font-family: var(--font);
  font-weight: 300;
  min-width: fit-content;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 25px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.project-showcase-tab-heading:hover {
  background-color: var(--primarycolor);
  color: white;
}
.project-commercial,
.project-residential {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0.5rem;
}
.project-img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 2/2;
  box-shadow: var(--lighthouseshadow);
  transition: all 0.3s linear;
  filter: grayscale(0.3);
  user-select: none;
}
.project-img:hover {
  border-radius: 5px 50px;
  filter: grayscale(0);
}
.lightbox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  height: 100%;
}
.lightbox-img {
  max-width: 95vw;
  min-height: 80%;
  max-height: 80vh;
  aspect-ratio: 3/2;
}
.none {
  display: none;
}

@media screen and (min-width: 500px) {
  .hero-section-main-heading {
    font-size: 3.3rem;
  }
  .aboutus-section {
    padding: 2.5rem 2rem;
  }
  .design-text-content {
    font-size: 1.5rem;
  }
  .innovationnone {
    display: none;
  }
  .experiancenone {
    display: none;
  }
  .choose-us-card {
    width: 205px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    width: 100%;
  }
  .hero-section-main-heading {
    font-size: 3.8rem;
  }

  .aboutus-section {
    max-width: var(--tabwidth);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  .left-about-section {
    width: 60%;
  }
  .left-about-para {
    text-align: left;
    font-size: 1.3rem;
  }
  .showcase-for-experiance {
    max-width: var(--tabwidth);
    flex-direction: row;
    justify-content: space-around;
  }
  .right-about-section {
    align-items: center;
  }
  .about-pic {
    height: 490px;
    margin: 0;
  }
  .design-text-content {
    font-size: 2rem;
  }
  .choose-us-container {
    max-width: var(--tabwidth);
  }
  .innovationnone {
    display: none;
  }
  .experiancenone {
    display: none;
  }
  .project-showcase-container,
  .project-commercial {
    max-width: var(--tabwidth);
  }
  .project-img {
    width: 100%;
    max-width: 350px;
    object-fit: fill;
    aspect-ratio: 2/2;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .aboutus-section {
    max-width: var(--smalllaptop);
    gap: 1rem;
    display: flex;
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
  }
  .left-about-section {
    width: 50%;
  }
  .left-about-para {
    font-size: 1.5rem;
    text-align: left;
  }
  .right-about-section {
    height: 400px;
  }

  .about-pic {
    padding-top: 1rem;
  }
  .showcase-for-experiance {
    max-width: var(--smalllaptop);
    flex-direction: row;
    justify-content: space-around;
  }
  .design-text-content {
    font-size: 2.5rem;
  }
  .choose-us-container {
    max-width: var(--smalllaptop);
  }
  .choose-us-main-content {
    flex-direction: row-reverse;
  }
  .choose-main-left {
    width: fit-content;
  }
  .choose-main-right {
    width: 69%;
    display: flex;
    align-items: center;
  }
  .choose-main-left {
    gap: 0.8rem 2rem;
  }
  .choose-right-heading {
    font-size: 2.8rem;
  }
  .choose-right-content {
    font-size: 1.5rem;
  }
  .innovationnone {
    display: none;
  }
  .experiancenone {
    display: none;
  }
  .project-showcase-container {
    max-width: var(--smalllaptop);
  }

  .project-img {
    width: 100%;
    max-width: 350px;
    object-fit: fill;
    aspect-ratio: 2/2;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .aboutus-section {
    max-width: var(--laptop);
    justify-content: center;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    padding: 3rem;
  }
  .left-about-section {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  .left-about-para {
    font-size: 1.5rem;
    text-align: left;
  }
  .right-about-section {
    height: 500px;
  }
  .right-about-section {
    max-width: 500px;

    height: 500px;
  }
  .about-pic {
    padding-top: 0.8rem;

    max-width: 500px;
    height: 400px;
  }
  .left-about-heading {
    font-size: 65px;
    justify-content: center;
  }
  .left-about-heading::after {
    font-size: 3rem;
    /* top: 10px; */
    left: 0;
  }
  .showcase-for-experiance {
    max-width: var(--laptop);
    flex-direction: row;
    justify-content: space-around;
  }
  .design-text-content {
    font-size: 2.2rem;
  }
  .choose-us-container {
    max-width: var(--laptop);
  }
  .choose-us-main-content {
    flex-direction: row-reverse;
  }
  .choose-main-right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choose-right-content-container {
    padding: 2.2rem;
  }
  .choose-right-heading {
    font-size: 2.5rem;
  }
  .choose-right-content {
    font-size: 1.5rem;
  }
  .innovationnone {
    display: none;
  }
  .experiancenone {
    display: none;
  }
  .project-showcase-container {
    max-width: var(--laptop);
  }

  .project-img {
    width: 100%;
    max-width: 350px;
    object-fit: fill;
    aspect-ratio: 2/2;
  }
}
@media screen and (min-width: 1480px) {
  .home-container {
    gap: 5rem;
  }
  .aboutus-section {
    max-width: var(--large);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    gap: 5rem;
  }
  .left-about-para {
    display: flex;
    font-size: 1.8rem;
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .left-about-section {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .about-pic {
    padding-top: 0.8rem;

    max-width: 500px;
  }
  .left-about-heading {
    font-size: 3.8rem;
    justify-content: center;
  }
  /* .left-about-heading::after {
    /* font-size: 5.8rem;
    color: rgba(0, 128, 128, 0.392);
    z-index: -1; 
  } */
  .showcase-for-experiance {
    max-width: var(--large);
    flex-direction: row;
    justify-content: space-around;
  }
  .experiance-number {
    font-size: 2.8rem;
  }
  .experiance-text {
    font-size: 2rem;
  }
  .design-text-content {
    font-size: 2.3rem;
  }
  .choose-us-container {
    max-width: var(--large);
  }
  .choose-us-main-content {
    flex-direction: row-reverse;
  }
  .choose-main-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choose-right-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.8rem;
  }
  .choose-right-heading {
    font-size: 2.5rem;
  }
  .choose-right-content {
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .choose-us-card-heading {
    font-size: 2rem;
  }
  .innovationnone {
    display: none;
  }
  .experiancenone {
    display: none;
  }
  .project-commercial,
  .project-residential {
    max-width: var(--large);
  }
  .project-img {
    width: 100%;
    max-width: 350px;
    object-fit: fill;
    aspect-ratio: 2/2;
  }
}
