.kitchen-container {
  overflow-y: hidden;
}
.kitchen-hero-container {
  height: 100vh;
  background: center no-repeat url("../Assets/kitchen/hero-section.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  user-select: none;
}
.kitchen-hero-tagline {
  color: var(--secondarycolor);
  background-color: var(--heroheadingbg);
  padding: 1.5rem;
  border-radius: 15px;
  font-size: 2.8rem;
  font-family: var(--font);
  text-align: center;
}
.kitchen-hero-para {
  text-align: center;
  font-family: var(--font);
  font-size: 2rem;
  color: var(--mainbgcolor);
}
.kitchen-scroll-container {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.6rem;
  background-color: rgba(253, 244, 233, 0.258);
  border-radius: 25px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.kitchen-scroll-container:hover {
  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.368);
  transform: translateY(-10px);
  filter: drop-shadow(5px 25px 20px rgba(0, 0, 0, 0.437));
}
.kitchen-scroll-para {
  font-size: 1rem;
  color: white;
  font-family: var(--font);
  margin: 0;
}
.kitchen-content-container {
  padding: 0.2rem;
  /* overflow-x: hidden; */
  scroll-margin-top: 50px;
}
.kitchen-project-showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 2rem;
}
.kitchen-project-heading {
  text-align: center;
  font-family: var(--font);
  font-weight: 500;
  font-size: var(--mobileheading);
  color: var(--headingcolor);
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .kitchen-project-heading::after {
  content: "Project";
  color: var(--overlayheading);
  font-size: var(--mobileoverlayheading);
  position: absolute;
  inset: 0;
  top: 32px;
} */
.kitchen-project-lightbox {
  margin-top: 50px;
}
.kitchen-project-img {
  max-width: 95vw;
  filter: grayscale(20%);
  transition: all 0.2s linear;
  aspect-ratio: 2/2;
}
.kitchen-project-img:hover {
  border-radius: 5px 50px;
  filter: grayscale(0);
  box-shadow: var(--lighthouseshadow);
}
.kitchen-lightbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .kitchen-project-content-container {
    max-width: var(--tabwidth);
  }
  .kitchen-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .kitchen-project-content-container {
    max-width: var(--smalllaptop);
  }
  .kitchen-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .kitchen-project-content-container {
    max-width: var(--laptop);
  }
  .kitchen-project-img {
    max-width: 350px;
  }
}
@media screen and (min-width: 1480px) {
  .kitchen-project-content-container {
    max-width: var(--large);
  }
  .kitchen-project-img {
    max-width: 350px;
  }
}
