.navbar-container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: fit-content;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  top: 0;
  transition: all 0.5s linear;
  user-select: none;
  z-index: 2;
}
.colorednav {
  background-color: var(--accentcolor);
  transition: all 0.5s linear;
  backdrop-filter: blur(5px);
}

.left-navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.logo-name {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(255, 251, 245);
  font-size: 2rem;
}
.coloredname {
  color: #383838;
}
.menu-icon {
  padding: 1rem 0 0 0;
}
.logo {
  width: 50px;
  height: 50px;
}
.company-name {
  font-size: 1.5rem;
  font-family: var(--fontsecond);
  font-family: "Lobster", sans-serif;
}
.rightlaptop-navbar-container {
  display: none;
}
.mobilemenu {
  position: fixed;
  background-color: rgb(159, 159, 159);
  backdrop-filter: blur(5px);
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  padding: 1.8rem;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-mobilemenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.noborder {
  border: 0;
}

.linktag-navbar {
  text-decoration: none;
}

.link-navbar {
  color: white;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: var(--font);
  border-bottom: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  line-height: 3.5rem;
}

.noborder {
  border: 0;
}
.link-icon-dropdown {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 0 0;
  height: fit-content;
  border-bottom: 1px solid rgb(255, 255, 255);
}
@media screen and (min-width: 1280px) {
  .navbar-container {
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .company-name {
    font-size: 2rem;
  }
  .left-navbar-container {
    width: fit-content;
  }
  .menu-icon {
    display: none;
  }

  .rightlaptop-navbar-container {
    display: flex;
    position: static;
    background-color: transparent;
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    gap: 0.8rem;
  }

  .dropdown-menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .header-mobilemenu {
    display: none;
  }
  .link-navbar {
    border: 0;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .link-navbar-with-bottom-animation::before {
    content: "";
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 89%;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 2px;
    transition: all 0.5s linear;
    right: 0;
  }
  .link-navbar:hover::before {
    width: 100%;
    left: 0;
  }
  .dropdown-menu {
    border: 0;
    gap: 2px;
  }
}
